---
import '../styles/global.css'
---

<html>
  <head>
    <title>Random User Generator</title>
  </head>
  <body>
    <h1>Random User Generator</h1>
    <div id="user-container"></div>
    <button id="new-user" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Get New User</button>
		

    <script type="module" src="/script.js"></script>
  </body>
</html>
